@model List<BlogBase.Models.BlogPost>;
@{
    ViewData["Title"] = "BlogBase";

<div class="text-center">
    <h1 class="display-3">BlogBase</h1>
    <p class="lead">publish a blog and manage it's content</p>
</div>

    foreach (BlogPost blogPost in Model) {
        <div class="row mt-3">

            <div class="col-3">

            </div>

            <div class="col-6">
                <div class="card">
                    @if (blogPost.Picture != null) {
                        <img id="blogPicture" class="blogImage card-img-top" src="data:image;base64,@System.Convert.ToBase64String(blogPost.Picture)" />
                    }
                    else {
                        <img id="blogPicture" class="blogImage card-img-top" src="#" />
                    }

                    <div class="card-body">
                        <h5 class="card-title">@blogPost.Title</h5>
                        <p class="card-text">@blogPost.PreviewText</p>
                        <div class="row">
                            <a class="btn btn-primary" asp-route-id="@blogPost.Id" asp-controller="BlogPost" asp-action="ReadBlog">Lesen</a>
                            <a class="btn btn-secondary" asp-route-id="@blogPost.Id" asp-controller="BlogPost" asp-action="CreateEditBlog">Bearbeiten</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-3">

            </div>

        </div>
    }

}

@section Scripts{

    <script>

        @*$(document).ready(function () {
            // Loop through each div element with the class box
            @{int j = 0;}
            $(".blogImage").each(function () {


                @{List<BlogPost> bp = Model; }

                debugger;
                var elementId = this.attributes[0].value;
                var counterId = @bp[j].Id
                debugger;

                loadPicture(counterId,elementId);
                @{j = j + 1;}

            });
        });*@

        @*function loadPicture(id, elementId) {
             $.ajax({
             type: 'GET',
             url: "@Url.Action("GetBlogPost")",
             data: { id: id },
                 success: function (data) {
                     $('#' + elementId).attr('src', `data:image/png;base64,${data.picture}`);
                 },

            });
        }*@


    </script>

<style>
/*    .blogImage{

    }*/
</style>

}